# Horários ônibus, linha 150, Terminal Fazenda/Cordeiros

http://200.195.174.242:86/ITSReports/

ITS Reports - Operação - Cumprimento de Serviço

Data: 2018 / 2021

legenda | descrição
--------|------------------
IP      | Inicio Previsto
IR      | Inicio Realizado
FP      | Fim Previsto
FR      | Fim Realizado
PP      | Prefixo Previsto
PR      | Prefixo Realizado
V       | Viagem

# Leitura dos dados

In [1]:
import numpy as np
import pandas as pd
import os
from datetime import date, timedelta, datetime

pd.set_option('display.max_columns', 45)

In [2]:
wpath = os.getcwd()
path = f'{wpath}/dados/linha_150'
pastas = os.listdir(path)
print(pastas)

['2020-01', '2020-06', '2020-08', '2018-05', '2018-02', '2020-09', '2020-07', '2018-03', '2018-04', '2021-09', '2021-07', '2019-03', '2019-04', '2021-01', '2021-06', '2021-08', '2019-05', '2019-02', '2019-11', '2019-10', '2018-10', '2018-11', '2020-12', '2018-08', '2018-01', '2018-06', '2020-05', '2020-02', '2018-07', '2018-09', '2020-03', '2020-04', '2019-07', '2019-09', '2021-03', '2021-04', '2019-08', '2019-01', '2019-06', '2021-05', '2021-02', '2019-12', '2020-10', '2020-11', '2018-12']

In [3]:
dadosXls = []

for p in pastas:
    arquivos = os.listdir(f'{path}/{p}')
    for x in arquivos:
        if '.xlsx' in x:
            data = pd.read_excel(f'{path}/{p}/{x}')
            dadosXls.append(data)

dadosXls = pd.concat(dadosXls)
dadosXls.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cumprimento de Serviço,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Data: 09/01/2020 - Linha: 150 - Todos os Servi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dadosXls['Unnamed: 3'] = dadosXls['Unnamed: 3'].fillna(method="ffill")

dadosXls['Unnamed: 1'].where(
    dadosXls['Unnamed: 1'].str.contains("Data: "), inplace=True)

dadosXls['Unnamed: 1'] = dadosXls['Unnamed: 1'].fillna(method="ffill")

In [5]:
dados = dadosXls.loc[(dadosXls['Unnamed: 5'].isin(['IDA', 'VOLTA'])) & (
    dadosXls['Unnamed: 7'] != '-') & (dadosXls['Unnamed: 11'] != '-')].reset_index()

In [6]:
dados.head(3)

,index,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,11,NaN,Data: 09/01/2020 - Linha: 150 - Todos os Servi...,NaN,Serviço: 11,1,IDA,09/01 05:35,09/01 05:36,NaN,NaN,09/01 05:47,09/01 05:45,596,596,Terminal Cordeiros,Terminal Fazenda,11,150_A - Terminal Cordeiros > Terminal Fazenda,CLAUDIO ANTONIO DA SILVA,--,"100,00 %",NaN,AutomÃ¡tico,Paradas,HistÃ³rico
1,12,NaN,Data: 09/01/2020 - Linha: 150 - Todos os Servi...,NaN,Serviço: 11,2,VOLTA,09/01 05:55,09/01 05:57,NaN,NaN,09/01 06:13,09/01 06:15,596,596,Terminal Fazenda,Terminal Cordeiros,11,150_A - Terminal Cordeiros > Terminal Fazenda,CLAUDIO ANTONIO DA SILVA,--,"100,00 %",NaN,AutomÃ¡tico,Paradas,HistÃ³rico
2,13,NaN,Data: 09/01/2020 - Linha: 150 - Todos os Servi...,NaN,Serviço: 11,3,IDA,09/01 06:15,09/01 06:18,NaN,NaN,09/01 06:37,09/01 06:34,596,596,Terminal Cordeiros,Terminal Fazenda,11,150_A - Terminal Cordeiros > Terminal Fazenda,CLAUDIO ANTONIO DA SILVA,--,"100,00 %",NaN,AutomÃ¡tico,Paradas,HistÃ³rico

In [7]:
dados.loc[:,'data'] = pd.to_datetime(
    dados['Unnamed: 1'].str.slice(6, 16), format='%d/%m/%Y')

dados.loc[:,'linha'] = dados['Unnamed: 1'].str.slice(26, 29)

In [8]:
# horário inicio
dados.loc[:, 'inicior'] = dados['Unnamed: 1'].str[12: 16]+'-' \
    + dados['Unnamed: 1'].str[9: 11]+'-' + \
    dados['Unnamed: 1'].str[6: 8]+' ' + \
    dados['Unnamed: 7'].str[6: 8] + dados['Unnamed: 7'].str[9: 11]

dados.loc[:, 'inicior'] = pd.to_datetime(dados.loc[:, 'inicior'])

In [9]:
# horário término
dados.loc[:, 'terminor'] = dados['Unnamed: 1'].str[12: 16]+'-' \
    + dados['Unnamed: 1'].str[9: 11]+'-' + \
    dados['Unnamed: 1'].str[6: 8]+' ' + \
    dados['Unnamed: 11'].str[6: 8] + dados['Unnamed: 11'].str[9: 11]

dados.loc[:, 'terminor'] = pd.to_datetime(dados.loc[:, 'inicior'])

In [10]:
dados.loc[:, 'servico'] = dados['Unnamed: 3'].str[8:]
dados.loc[:, 'paradas_cumpridas'] = dados['Unnamed: 20'].str.split(',').str[0]

In [11]:
dados.rename(columns={'Unnamed: 12': 'prefixo_previsto',
                      'Unnamed: 13': 'prefixo_realizado',
                      'Unnamed: 14': 'ponto_inicial',
                      'Unnamed: 15': 'ponto_final',
                      'Unnamed: 16': 'servico',
                      'Unnamed: 17': 'trajeto'
                      }, inplace=True)

In [12]:
dados.columns

Index(['index', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'prefixo_previsto',
       'prefixo_realizado', 'ponto_inicial', 'ponto_final', 'servico',
       'trajeto', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'data', 'linha', 'inicior',
       'terminor', 'servico', 'paradas_cumpridas'],
      dtype='object')

## exportar CSV

In [13]:
dados_export = dados[['linha', 'data', 'inicior', 'terminor', 'ponto_inicial',
                      'ponto_final', 'trajeto', 'servico', 'paradas_cumpridas']]

In [14]:
dados_export.to_csv('linha150.csv', index=False)